.fs-border {
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  border-color: #0d6ac2;
  border-radius: 5px;
}

.sub-ttl {
  color: #0084ff;
  font-weight: bold;
  text-align: center;
}

.input-deco {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #b8b8b8;
  outline: 0;
  border-radius: 5px;
  caret-color: #b8b8b8;
}

.btn {
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #0084ff;
  background-color: #0084ff;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-sec {
  border: 1px solid #b42c1a;
  background-color: #b42c1a;
}

.lb-txt {
  font-size: 11px;
  display: block;
}

.form-deco {
  padding-right: 19px;
  padding-bottom: 30px;
}

.table-res {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #b8b8b8;
  outline: 0;
  border-radius: 5px;
  caret-color: #b8b8b8;
}

.right-side {
  float: right;
}

#first-chart,
#sec-chart {
  width: 100%;
  height: 65vh;
  margin-top: 10px;
  border: 1px solid #555652;
  background: #220;
}
.link-txt{
  text-decoration: none;
  display: inline-block;
  margin-left: 90px;
}